*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

#home{
    background-color: #CCE1FF;
}

#img-web{
    display: none;
}

#img-mobile{
    border-radius: 10%;
}

li{
    list-style: none;
}

@media only screen and (min-width:800px) {
    #img-mobile{
        display: none;
    }

    #img-web{
        display: block;
    }
}
